.user-profile-page {
    display: flex;
    font-family: Arial, sans-serif;
}

.edit-btn,
.save-btn {
    background-color: #8a2be2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 0 20px 0;
    max-width: 140px;
}

.edit-btn:hover,
.save-btn:hover {
    background-color: #7b23c1;
}
