.browse-events-page {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.browse-events-container {
    width: 70%;
    max-width: 1070px;
    min-width: 500px;
    padding: 20px;
    margin: 0 auto;
}

.filter-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #fff;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 50px;
    z-index: 100;
}

.filters-row {
    display: flex;
    gap: 3%;
}

.filter-item {
    margin-right: 10px;
}

.events-container {
    display: flex;
    gap: 30px;
}

.events-list {
    flex: 1 1 640px; 
    max-width: 640px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.event-card {
    width: 100%; 
    margin-bottom: 20px;
    background-color: #fff;
    border-bottom: 1px solid #dddddd;
    transition: transform 0.3s ease-in-out;
    padding: 20px 0;
}

.event-card:hover {
    transform: translateY(-5px);
}

.event-card img {
    width: 159px;
    height: 90px;
    object-fit: cover;
}

.event-content {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.card-content {
    max-width: 480px; 
    width: 100%; 
    flex-grow: 1; 
    box-sizing: border-box; 
}

.card-content h3 {
    margin-bottom: 10px;
    font-size: 1em;
}

.card-content p {
    margin-bottom: 5px;
}

.map-container {
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 250px;
    border: 2px solid black;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.share-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 200;
}

.share-popup button {
display: block;
margin-top: 10px;
}

/* Responsive design needs changes */