.category-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0;
}

.category-item {
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    width: 120px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px; 
}

.category-item:hover {
    transform: scale(1.1);
    border-color: #7848F4;
}

.category-icon {
    font-size: 3rem;
    margin-bottom: 10px;
}

.category-name {
    font-size: 16px;
    font-weight: bold;
}
